.grid
  @extend %list
  +margin(-20px -20px null null)

  &:after
    content: ""
    display: block
    clear: both

  > *
    +margin(20px 20px null null)
    float: left

  &--2-columns > *
    width: calc(50% - 20px)

    &.grid__double
      width: calc(100% - 20px)

  &--4-columns > *
    width: calc(25% - 20px)

    &.grid__double
      width: calc(50% - 20px)

  &__end
    float: right

  img
    display: block
    width: 100%

  +breakpoint(small)
    &--2-columns:not(&--late) > *
      width: calc(100% - 20px)

    &--4-columns > *
      width: calc(50% - 20px)