{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign variant = product.selected_or_first_available_variant %}

<section class="section">
  <div class="wrapper">
    <header class="banner">
      <a href="/" class="banner__logo">
        <img src="app/images/content/jparre-logo.svg" alt="J.Parré Apparel" />
      </a>
    </header>

    <article class="grid grid--2-columns">
      <div>
        <ul class="grid grid--2-columns grid--late">
          <li class="grid__double">
            <img src="{{ product.images[0] | product_img_url: 'grande' }}" data-behaviour="big-product" />
          </li>

          <li>
            <img src="{{ product.images[1] | product_img_url: 'grande' }}" data-behaviour="small-product" />
          </li>

          <li>
            <img src="{{ product.images[2] | product_img_url: 'grande' }}" data-behaviour="small-product" />
          </li>
        </ul>
      </div>

      <div>
        <div class="detail">
          <h1 class="detail__title">{{ product.title }}</h1>
          <p class="detail__copy">{{ product.description }}</p>

          <form class="detail__actions">
            <select id="product-select" name="id" data-behaviour="select">
            {% for variant in product.variants %}
              <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
            {% endfor %}
            </select>

            <button type="submit" name="add" id="add" class="button">{{ add_to_cart | escape }}</button>
          </form>
        </div>
      </div>
    </article>
  </div>
</section>

<div class="wrapper">
  <footer class="footer">
    <p class="footer__copy">&copy;J.Parré Apparel 2016</p>
    <a href="#" class="button">Cart (0)</a>
  </footer>
</div>