<!DOCTYPE html>
<!--[if IE 9]>          <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>{{= it.document.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="app/stylesheets/application.css" />
</head>
<body>
  <div class="page">
    {{= it.include("header") }}
    {{= it.document }}
    {{= it.include("footer") }}
  </div>

  <!-- Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="app/javascript/application.js"></script>
</body>
</html>
