.header
  padding: 100px 0px 60px
  text-align: center

  &__logo
    display: inline-block

    img
      width: 140px
      display: block

  @media all and (max-width: 767px)
    padding: 50px 0px 30px