.product
  display: block
  background: #fafafa
  position: relative
  padding-top: 100%

  &__image
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: block
    max-width: 75%
    max-height: 75%

  &__icon
    position: absolute
    top: 20px
    right: 20px
    width: 15px
    height: 15px