.button
  +ext(copy)
  background: #000
  border: 0
  border: 1px solid #000
  box-sizing: border-box
  color: #fff
  cursor: pointer
  display: inline-block
  font-weight: 700
  outline: none
  overflow: hidden
  padding: 5px 12px
  text-decoration: none
  text-transform: uppercase

  &:hover
    color: #000
    background: #fff