.page
  display: flex
  flex-direction: column
  min-height: 100vh
  padding-bottom: 100px
  box-sizing: border-box

  > *
    flex: none

  &__main
    flex: 1
    display: flex
    flex-direction: column
    
    &--actioned
      cursor: e-resize
      -webkit-tap-highlight-color: transparent

  &__inner
    margin: auto 0px

  @media all and (max-width: 767px)
    padding-bottom: 60px